version: "3.9"

services:
  app:
    build:
      context: .
    restart: always
    volumes:
      - static-data:/vol/web
    env_file:
      - .env              # <-- TELJES .env bemegy a konténerbe
    environment:
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}  # ha szükséges felülírni / biztosítani
  proxy:
    build:
      context: ./proxy
    restart: always
    depends_on:
      - app
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - static-data:/vol/static

volumes:
  static-data:

